.main-container {
  align-self: center;
}

.main-container SearchBar{
  align-self: center;
}

.site-title {
  align-self: center;
}

.site-title p{
  padding: 10px;
  align-self: center;
  text-align: center;
  font-size: 100px;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
}

.search-bar {
  padding: 10px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.search-bar input {
  width: 75%;
}

.cardlist {
  width: 90%;
}

.card {
  width: 100%;
  margin: 10px;
  cursor: pointer;
}

.card:hover {
  background-color: darkcyan;
}

.card-text-container {
  align-self: center;
}

.card-text {
  padding-left: 10px;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
