.main-container {
  align-self: center;
}

.main-container SearchBar{
  align-self: center;
}

.site-title {
  align-self: center;
}

.site-title p{
  padding: 10px;
  align-self: center;
  text-align: center;
  font-size: 50px;
}

.search-bar {
  padding: 10px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.cardlist {
  width: 90%;
}

.card {
  width: 100%;
  margin: 10px;
}
